<footer>
    <div class="footer_info">
        <div class="socials">
        <div><a href="/facebook"><i class="fa-brands fa-facebook"></i></a>
            <a href="/instagram"><i class="fa-brands fa-instagram"></i></a></div> 
        </div>
        <div class="f_brand">
            HOMYHIVE PRIVATE LIMITED
        </div>
        <div class="f_info_links">
            <a href="/privacy">Privacy</a>
            <a href="/terms" >Terms</a>
        </div>
    </div>
</footer>