<% layout("/layout/boilerplate") -%>
    <h1>HOMYHIVE</h1>
    <div>
        <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
            <% for(let data of newData) { %>
                <a href="/listing/<%=data._id%>" class="listing_link">
                    <div class="card col listing-card">
                        <img src="<%=data.image%>" class="card-img-top" alt="Listing_items" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text ">
                                <b>
                                    <%=data.title%>
                                </b> <br />
<%= data.price ? data.price.toLocaleString("en-IN", { style: "currency", currency: "INR" }) : "Price not available" %>
                            </p>
                        </div>
                    </div>
                   </a>
                <% } %>
        </div>
    </div>
    <form method="GET" action="/listing/new">
        <button style="margin-bottom: 1rem;" type="submit" class="btn btn-primary">ADD A PLACE</button>
    </form>