<% layout("/layout/boilerplate") -%>
<body>
<div class="row">
        <div class="col-6 offset-3">
    <form method="post" class="needs-validation" novalidate action="/login">
        <h3>LOG-IN FORM FOR HOMYHIVE</h3>
             <div class="mb-3">
                <label for="username" class="form-label">User Name: </label>
                <input 
                type="text" 
                class="form-control" 
                id="username" 
                name="username"
                required>
                <div class="invalid-feedback">Enter a valid username</div>
            </div>
             <div class="mb-3">
                <label for="password" class="form-label">password: </label>
                <input 
                type="password" 
                class="form-control" 
                id="password" 
                name="password"
                required>
            </div>
            <button type="submit" style="margin-bottom: 1rem;" class="btn btn-success">LOG IN</button>
    </form>
        </div>
</div>
</body>